<section>
  <ul>
    <li>
      <img src="../img/prepayment.svg" alt="">
      <h4>Передплата</h4>
      <p>50 % від вартості товару</p>
    </li>
    <li>
      <img src="../img/delivery.svg" alt="">
      <h4>Доставка</h4>
      <p>50 % від вартості товару</p>
    </li>
    <li>
      <img src="../img/period.svg" alt="">
      <h4>Термін поставки</h4>
      <p>15-30 робочих днів</p>
    </li>
    <li>
      <img src="../img/guarantee.svg" alt="">
      <h4>Гарантія</h4>
      <p>18 місяців</p>
    </li>
    <li>
      <img src="../img/return.svg" alt="">
      <h4>Повернення</h4>
      <p>14 днів з дня отримання</p>
    </li>
  </ul>
</section>