<section>
  <div>
    <article>
      <img src="../img/eksim.jpg" alt="ексим" aria-label="зразок матерії для пошиття">
      <h3>эксим</h3>
      <a href="#">Детальніше про</a>
    </article>

    <article>
      <img src="../img/aparel.jpg" alt="ексим" aria-label="зразок матерії для пошиття">
      <h3>аппарель</h3>
      <a href="#">Детальніше про</a>
    </article>

    <article>
      <img src="../img/artex.jpg" alt="ексим" aria-label="зразок матерії для пошиття">
      <h3>артекс</h3>
      <a href="#">Детальніше про</a>
    </article>

    <article>
      <img src="../img/mebtex.jpg" alt="ексим" aria-label="зразок матерії для пошиття">
      <h3>мебтекс</h3>
      <a href="#">Детальніше про</a>
    </article>

    <article>
      <img src="../img/bibtex.jpg" alt="ексим" aria-label="зразок матерії для пошиття">
      <h3>бибтекс</h3>
      <a href="#">Детальніше про</a>
    </article>

    <article>
      <img src="../img/divotex.jpg" alt="ексим" aria-label="зразок матерії для пошиття">
      <h3>дивотекс</h3>
      <a href="#">Детальніше про</a>
    </article>

    <article>
      <img src="../img/unitex.jpg" alt="ексим" aria-label="зразок матерії для пошиття">
      <h3>юнитекс</h3>
      <a href="#">Детальніше про</a>
    </article>
  </div>
  
</section>